@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    ViewBag.Active = "Payment";
    Layout = "_Layout.cshtml";
}

<div class="span12">
    <h1>Transaction Success! :-)</h1>
    
    <p>Not using 3D Secure though.</p>
</div>
