@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    ViewBag.Active = "3DPayment";
    Layout = "_Layout.cshtml";
}

<div class="span12">
    <h1>Transaction Success! :-)</h1>
    
    <p>Using 3D secure!</p>
</div>
