@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    ViewBag.Active = "Home";
    Layout = "_Layout.cshtml";
}

<div class="span12">
    <h1>Welcome to SpreedlyCoreSharp!</h1>

    <p>This is the sample application for SpreedlyCoreSharp, it demonstrates all the different areas of the SpreedlyCore API.</p>
</div>
